input {
    width: 30%;
    margin-bottom: 3%;
    margin-top: 0px;
}

p {
    margin: 0px;
}

.dateField {
    width: 150px;
}

.timeField {
    width: 200px;
}

.emailField {
    width: 50%;
}

.nameField {
    width: 40%; 
}

.addressField{
    width: 70%; 
}

.phoneField {
    width: 50%
}

.zipField {
    
}